<!DOCTYPE html>
<html>
<head>
	<title> Page Title </title>
</head>
<!-- Things in body tag will be shown on web -->
<body>
	<h1 style="background-color: DodgerBlue;">
		This is a Heading
	</h1>
	<p title="I am a tooltip" style="color:red">
		This is a paragraph.
	</p>
	<hr>
	<a href="https://www.w3schools.com/html/html_attributes.asp">
		This is the learning materials.
	</a>
	<ul>
		<li https://www.w3schools.com/html/html_attributes.asp>Coffee</li>
		<li>Milk</li>
		<li>Coke</li>
	</ul>
	<img src="test_photo.jpg" width="208" height="284" alt="This is a view.">
	<button>Click here!</button>
	<hr>
	<!-- HTML will remove all the blank -->
	<p>
		This is a test<br>
		dfsa
		dsafsdfsdfasfdsaf    dfaf
	</p>
	<br>
	<pre>
		This is a test

		The setences show like this

		It is nice
	</pre>
	<br>
	<p style="font-family: courier;color:orange;text-align: center;">Change the font style</p>
</body>
</html>
